<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
  	<script type="text/javascript" 
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>

	<script>
    	$(document).ready(function(){
	    $("h6").css('cursor','pointer');
    	$("h6").nextUntil("h6").slideToggle();
	    $("h6").click(function() {
    			$(this).nextUntil("h6").slideToggle();
    		});
	    });
	</script>
	
	<script>
		$(document).ready(function(){
			$(":button").css("background-color", "lightgray");
    		$(":button").css("border", "none");
		    $(":button").css("font-family", "Verdana");
		    $(":button").css("padding", "3px");
		    $(":button").css("margin-left", "4px");
    		
    		$("#b_CV").click(function(){
	    		location.href = "/pubs/Various/Anastasios_Kyrillidis_CV_academia.pdf";
		    });
		    $("#b_scholar").click(function(){
        		location.href = "http://scholar.google.ch/citations?user=TEGzkZMAAAAJ&hl=en";
		    });
		    $("#b_LinkedIn").click(function(){
        		location.href = "https://www.linkedin.com/in/anastasios-kyrillidis-8b05983a";
		    });
		    

    		
    		
    		
    		
    		$("#b_abs_j8").click(function(){
        		$("#abs_j8").fadeToggle("slow");
	    	});
	    	$("#b_bib_j8").click(function(){
        		$("#bib_j8").fadeToggle("slow");
	    	});
    		
    		
    		$("#b_abs_j7").click(function(){
        		$("#abs_j7").fadeToggle("slow");
	    	});
	    	$("#b_bib_j7").click(function(){
        		$("#bib_j7").fadeToggle("slow");
	    	});

    		
    		$("#b_abs_j6").click(function(){
        		$("#abs_j6").fadeToggle("slow");
	    	});
	    	$("#b_bib_j6").click(function(){
        		$("#bib_j6").fadeToggle("slow");
	    	});
	    	$("#b_pre_j6").click(function(){
	    		location.href = "/pubs/Presentations/Composite_Self-Concordant_ Minimization.pdf";
		    });
		    $("#b_pos_j6").click(function(){
        		location.href = "/pubs/Posters/Composite_Self-Concordant_ Minimization.pdf";
		    });
		    $("#b_sof_j6").click(function(){
        		location.href = "http://lions.epfl.ch/scopt";
		    });
		    
		    
		    $("#b_abs_j5").click(function(){
        		$("#abs_j5").fadeToggle("slow");
	    	});
	    	$("#b_bib_j5").click(function(){
        		$("#bib_j5").fadeToggle("slow");
	    	});
	    	
	    	
	    	$("#b_abs_j4").click(function(){
        		$("#abs_j4").fadeToggle("slow");
	    	});
	    	$("#b_bib_j4").click(function(){
        		$("#bib_j4").fadeToggle("slow");
	    	});
	    	$("#b_pre_j4").click(function(){
	    		location.href = "/pubs/Presentations/Composite_Self-Concordant_ Minimization.pdf";
		    });
			$("#b_sof_j4").click(function(){
        		location.href = "http://lions.epfl.ch/scopt";
		    });

	    	
	    	$("#b_abs_j3").click(function(){
        		$("#abs_j3").fadeToggle("slow");
	    	});
	    	$("#b_bib_j3").click(function(){
        		$("#bib_j3").fadeToggle("slow");
	    	});
	    	$("#b_pre_j3").click(function(){
	    		location.href = "/pubs/Presentations/RankD.pdf";
		    });
			$("#b_sof_j3").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
	    	
	    	
	    	$("#b_abs_j2").click(function(){
        		$("#abs_j2").fadeToggle("slow");
	    	});
	    	$("#b_bib_j2").click(function(){
        		$("#bib_j2").fadeToggle("slow");
	    	});
	    	$("#b_sof_j2").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
	    	
	    	
	    	$("#b_abs_j1").click(function(){
        		$("#abs_j1").fadeToggle("slow");
	    	});
	    	$("#b_bib_j1").click(function(){
        		$("#bib_j1").fadeToggle("slow");
	    	});
	    	$("#b_pre_j1").click(function(){
	    		location.href = "/pubs/Presentations/SidKyrICASSP2013.pdf";
		    });
	    	$("#b_sof_j1").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
	    	
	    	
	    	
	    	
	    	
	    	
	    	
	    	$("#b_abs_c23").click(function(){
        		$("#abs_c23").fadeToggle("slow");
	    	});
	    	$("#b_bib_c23").click(function(){
        		$("#bib_c23").fadeToggle("slow");
	    	});
	    	$("#b_pos_c23").click(function(){
        		location.href = "/pubs/Posters/FGD.pdf";
		    });

		    
		    $("#b_abs_c22").click(function(){
        		$("#abs_c22").fadeToggle("slow");
	    	});
	    	$("#b_bib_c22").click(function(){
        		$("#bib_c22").fadeToggle("slow");
	    	});
	    	$("#b_pos_c22").click(function(){
        		location.href = "/pubs/Posters/FGD.pdf";
		    });
		    $("#b_pre_c22").click(function(){
        		location.href = "";
		    });
		    $("#b_sof_c22").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
		    
	    	
	    	$("#b_abs_c21").click(function(){
        		$("#abs_c21").fadeToggle("slow");
	    	});
	    	$("#b_bib_c21").click(function(){
        		$("#bib_c21").fadeToggle("slow");
	    	});
	    	$("#b_pos_c21").click(function(){
        		location.href = "/pubs/Posters/SparseDiagonalCCA.pdf";
		    });
		    $("#b_pre_c21").click(function(){
        		location.href = "/pubs/Presentations/SparseDiagonalCCA.pdf";
		    });
		    $("#b_sof_c21").click(function(){
        		location.href = "https://github.com/megasthenis/spancca";
		    });
		    
	    	
	    	$("#b_abs_c20").click(function(){
        		$("#abs_c20").fadeToggle("slow");
	    	});
	    	$("#b_bib_c20").click(function(){
        		$("#bib_c20").fadeToggle("slow");
	    	});
	    	$("#b_pos_c20").click(function(){
        		location.href = "/pubs/Posters/cvx_block_expanders.pdf";
		    });
		    $("#b_sof_c20").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
		    		    
	    	
	    	$("#b_abs_c19").click(function(){
        		$("#abs_c19").fadeToggle("slow");
	    	});
	    	$("#b_bib_c19").click(function(){
        		$("#bib_c19").fadeToggle("slow");
	    	});
	    	$("#b_pos_c19").click(function(){
        		location.href = "/pubs/Posters/GSPAM_poster.pdf";
		    });
		    $("#b_sof_c19").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
	    	
	    	
	    	$("#b_abs_c18").click(function(){
        		$("#abs_c18").fadeToggle("slow");
	    	});
	    	$("#b_bib_c18").click(function(){
        		$("#bib_c18").fadeToggle("slow");
	    	});
	    	$("#b_pos_c18").click(function(){
        		location.href = "/pubs/Posters/BCC.pdf";
		    });
		    $("#b_sof_c18").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
	    	
	    	
	    	$("#b_abs_c17").click(function(){
        		$("#abs_c17").fadeToggle("slow");
	    	});
	    	$("#b_bib_c17").click(function(){
        		$("#bib_c17").fadeToggle("slow");
	    	});
	    	$("#b_pos_c17").click(function(){
        		location.href = "/pubs/Posters/SPCA.pdf";
		    });

	    	
	    	$("#b_abs_c16").click(function(){
        		$("#abs_c16").fadeToggle("slow");
	    	});
	    	$("#b_bib_c16").click(function(){
        		$("#bib_c16").fadeToggle("slow");
	    	});
	    	$("#b_pos_c16").click(function(){
        		location.href = "/pubs/Posters/PCAonPath.pdf";
		    });
		    $("#b_pre_c16").click(function(){
        		location.href = "/pubs/Presentations/PCAonPath.pdf";
		    });
		    
		    
		    $("#b_abs_c15").click(function(){
        		$("#abs_c15").fadeToggle("slow");
	    	});
	    	$("#b_bib_c15").click(function(){
        		$("#bib_c15").fadeToggle("slow");
	    	});
		    
		    
		    $("#b_abs_c14").click(function(){
        		$("#abs_c14").fadeToggle("slow");
	    	});
	    	$("#b_bib_c14").click(function(){
        		$("#bib_c14").fadeToggle("slow");
	    	});
		    $("#b_sof_c14").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
	    
		    
		    $("#b_abs_c13").click(function(){
        		$("#abs_c13").fadeToggle("slow");
	    	});
	    	$("#b_bib_c13").click(function(){
        		$("#bib_c13").fadeToggle("slow");
	    	});
	    	$("#b_pos_c13").click(function(){
        		location.href = "/pubs/Posters/ScalableSC.pdf";
		    });
		    $("#b_sof_c13").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
		    
		    
		    $("#b_abs_c12").click(function(){
        		$("#abs_c12").fadeToggle("slow");
	    	});
	    	$("#b_bib_c12").click(function(){
        		$("#bib_c12").fadeToggle("slow");
	    	});		    
		    
		    
		    $("#b_abs_c11").click(function(){
        		$("#abs_c11").fadeToggle("slow");
	    	});
	    	$("#b_bib_c11").click(function(){
        		$("#bib_c11").fadeToggle("slow");
	    	});	
	    	
	    	
		    $("#b_abs_c10").click(function(){
        		$("#abs_c10").fadeToggle("slow");
	    	});
	    	$("#b_bib_c10").click(function(){
        		$("#bib_c10").fadeToggle("slow");
	    	});	
		    
	    	
	    	$("#b_abs_c09").click(function(){
        		$("#abs_c09").fadeToggle("slow");
	    	});
	    	$("#b_bib_c09").click(function(){
        		$("#bib_c09").fadeToggle("slow");
	    	});
	    	$("#b_pos_c09").click(function(){
        		location.href = "/pubs/Posters/RandSVP.pdf";
		    });
		    
		    
	    	$("#b_abs_c08").click(function(){
        		$("#abs_c08").fadeToggle("slow");
	    	});
	    	$("#b_bib_c08").click(function(){
        		$("#bib_c08").fadeToggle("slow");
	    	});
	    	$("#b_pos_c08").click(function(){
        		location.href = "/pubs/Posters/SparseSimplex.pdf";
		    });
		    $("#b_pre_c08").click(function(){
        		location.href = "/pubs/Presentations/SparseSimplex.pdf";
		    });
	    	$("#b_sof_c08").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
		    
		    
		    $("#b_abs_c07").click(function(){
        		$("#abs_c07").fadeToggle("slow");
	    	});
	    	$("#b_bib_c07").click(function(){
        		$("#bib_c07").fadeToggle("slow");
	    	});
	    	$("#b_sof_c07").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
		    
		    
		    $("#b_abs_c06").click(function(){
        		$("#abs_c06").fadeToggle("slow");
	    	});
	    	$("#b_bib_c06").click(function(){
        		$("#bib_c06").fadeToggle("slow");
	    	});
	    	$("#b_pos_c06").click(function(){
        		location.href = "/pubs/Posters/GraphLearn.pdf";
		    });
		    
		    
		    $("#b_abs_c05").click(function(){
        		$("#abs_c05").fadeToggle("slow");
	    	});
	    	$("#b_bib_c05").click(function(){
        		$("#bib_c05").fadeToggle("slow");
	    	});
	    	$("#b_pos_c05").click(function(){
        		location.href = "/pubs/Posters/AcceleratedMALPS.pdf";
		    });
		    $("#b_sof_c05").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
		    
		    
	    	$("#b_abs_c04").click(function(){
        		$("#abs_c04").fadeToggle("slow");
	    	});
	    	$("#b_bib_c04").click(function(){
        		$("#bib_c04").fadeToggle("slow");
	    	});
	    	$("#b_pre_c04").click(function(){
        		location.href = "/pubs/Presentations/ISIT_presentation_v2.pdf";
		    });
		    $("#b_sof_c04").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
		    
		    
	    	$("#b_abs_c03").click(function(){
        		$("#abs_c03").fadeToggle("slow");
	    	});
	    	$("#b_bib_c03").click(function(){
        		$("#bib_c03").fadeToggle("slow");
	    	});
	    	$("#b_pos_c03").click(function(){
        		location.href = "/pubs/Posters/NormPursuits.pdf";
		    });
		    $("#b_sof_c03").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
		    
		    
		    $("#b_abs_c02").click(function(){
        		$("#abs_c02").fadeToggle("slow");
	    	});
	    	$("#b_bib_c02").click(function(){
        		$("#bib_c02").fadeToggle("slow");
	    	});
	    	$("#b_pre_c02").click(function(){
        		location.href = "/pubs/Presentations/Recipes_for_IHT.pdf";
		    });
		    $("#b_sof_c02").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
		    $("#b_med_c02").click(function(){
        		location.href = "http://www.gaga4cs.org/";
		    });
		    
		    
		    $("#b_abs_c01").click(function(){
        		$("#abs_c01").fadeToggle("slow");
	    	});
	    	$("#b_bib_c01").click(function(){
        		$("#bib_c01").fadeToggle("slow");
	    	});
	    	$("#b_pre_c01").click(function(){
        		location.href = "/pubs/Presentations/RankD.pdf";
		    });
		    $("#b_sof_c01").click(function(){
        		location.href = "http://akyrillidis.github.io/projects/";
		    });
		    
		    
		    
		    
		    
		    
		    $("#b_abs_b02").click(function(){
        		$("#abs_b02").fadeToggle("slow");
	    	});
	    	$("#b_bib_b02").click(function(){
        		$("#bib_b02").fadeToggle("slow");
	    	});
		    $("#b_med_b02").click(function(){
        		location.href = "https://mitpress.mit.edu/books/practical-applications-sparse-modeling";
		    });
		    
		    
		    $("#b_abs_b01").click(function(){
        		$("#abs_b01").fadeToggle("slow");
	    	});
	    	$("#b_bib_b01").click(function(){
        		$("#bib_b01").fadeToggle("slow");
	    	});
		    $("#b_med_b01").click(function(){
        		location.href = "http://link.springer.com/book/10.1007%2F978-3-319-16042-9";
		    });
		    
		    
		    
	    	
	    	
	    	
	    	
	    	$("#b_des_s1").click(function(){
        		$("#des_s1").fadeToggle("slow");
	    	});
	    	$("#b_dow_s1").click(function(){
        		location.href = "/projects/ALPS/ALPS.zip";
	    	});
	    	$("#b_pap_s1").click(function(){
        		location.href = "/pubs/Conferences/CAMSAP_Recipes_for_HTM.pdf";
		    });
		    
		    
		    $("#b_des_s2").click(function(){
        		$("#des_s2").fadeToggle("slow");
	    	});
	    	$("#b_dow_s2").click(function(){
        		location.href = "/projects/MatrixALPS/MatrixALPS_v0.1.zip";
	    	});
	    	$("#b_pap_s2").click(function(){
        		location.href = "/pubs/Journals/MatrixALPS_JMVI_v2.pdf";
		    });
		    
		    
		    $("#b_des_s3").click(function(){
        		$("#des_s3").fadeToggle("slow");
	    	});
	    	$("#b_dow_s3").click(function(){
        		location.href = "/projects/MatrixALPS_LS/MatrixALPS_LS_v0.1.zip";
	    	});
	    	$("#b_pap_s3").click(function(){
        		location.href = "/pubs/Conferences/lowrank_sparse_v2.pdf";
		    });
		    
		    
		    $("#b_des_s4").click(function(){
        		$("#des_s4").fadeToggle("slow");
	    	});
	    	$("#b_dow_s4").click(function(){
        		location.href = "http://lions.epfl.ch/scopt";
	    	});
	    	$("#b_pap_s4a").click(function(){
        		location.href = "/pubs/Journals/TranDinhKyrillidisCevher_ComSelfMin2013.pdf";
		    });
		    $("#b_pap_s4b").click(function(){
        		location.href = "/pubs/Conferences/covselect_final.pdf";
		    });
		    
		    
		    $("#b_des_s5").click(function(){
        		$("#des_s5").fadeToggle("slow");
	    	});
	    	$("#b_dow_s5").click(function(){
        		location.href = "/projects/BlockSparseExpanders/BlockSparseExpanders.zip";
	    	});
	    	$("#b_pap_s5").click(function(){
        		location.href = "/pubs/Conferences/cvx_block_expanders.pdf";
		    });
		    
		    
		    $("#b_des_s6").click(function(){
        		$("#des_s6").fadeToggle("slow");
	    	});
	    	$("#b_dow_s6").click(function(){
        		location.href = "/projects/RankD/RankD.zip";
	    	});
	    	$("#b_pap_s6").click(function(){
        		location.href = "/pubs/Journals/05_journal_rankDcomplex_final_v21.pdf";
		    });
		    
		    
		    $("#b_des_s7").click(function(){
        		$("#des_s7").fadeToggle("slow");
	    	});
	    	$("#b_dow_s7").click(function(){
        		location.href = "/projects/TensorCS/TensorCS_v1.zip";
	    	});
	    	$("#b_pap_s7").click(function(){
        		location.href = "/pubs/Journals/MWCSR1twocol.pdf";
		    });
	    	
	    	
	    	$("#b_des_s8").click(function(){
        		$("#des_s8").fadeToggle("slow");
	    	});
	    	$("#b_dow_s8").click(function(){
        		location.href = "/projects/BFGD/BFGD.zip";
	    	});
	    	$("#b_pap_s8").click(function(){
        		location.href = "/pubs/Conferences/FGD.pdf";
		    });
		    
		    
		    $("#b_des_s9").click(function(){
        		$("#des_s9").fadeToggle("slow");
	    	});
	    	$("#b_dow_s9").click(function(){
        		location.href = "/projects/GSPAM/GSPAM.zip";
	    	});
	    	$("#b_pap_s9").click(function(){
        		location.href = "/pubs/Conferences/GSPAM.pdf";
		    });
		    
		    
		    $("#b_des_s10").click(function(){
        		$("#des_s10").fadeToggle("slow");
	    	});
	    	$("#b_dow_s10").click(function(){
        		location.href = "/projects/BCC/BCC_Bilinear.zip";
	    	});
	    	$("#b_pap_s10").click(function(){
        		location.href = "/pubs/Conferences/BCC.pdf";
		    });
		    
		    
		    $("#b_des_s11").click(function(){
        		$("#des_s11").fadeToggle("slow");
	    	});
	    	$("#b_dow_s11").click(function(){
        		location.href = "/projects/LevScores/BProvableDetLevScoresDemo.zip";
	    	});
	    	$("#b_pap_s11").click(function(){
        		location.href = "/pubs/Conferences/frp0826.pdf";
		    });
		    
		    
		    $("#b_des_s12").click(function(){
        		$("#des_s12").fadeToggle("slow");
	    	});
	    	$("#b_dow_s12").click(function(){
        		location.href = "/projects/SparseSimplex/SparseSimplex.zip";
	    	});
	    	$("#b_pap_s12").click(function(){
        		location.href = "http://jmlr.org/proceedings/papers/v28/kyrillidis13.pdf";
		    });
		    
		    
		    $("#b_des_s13").click(function(){
        		$("#des_s13").fadeToggle("slow");
	    	});
	    	$("#b_dow_s13").click(function(){
        		location.href = "/projects/NormedPursuits/CLASH_NormedPursuit.zip";
	    	});
	    	$("#b_pap_s13a").click(function(){
        		location.href = "/pubs/Conferences/CLASH_ISIT.pdf";
		    });
		    $("#b_pap_s13b").click(function(){
        		location.href = "/pubs/Conferences/HardThreshNormCon.pdf";
		    });
		});
	</script>
	{% feed_meta %}
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Anastasios Kyrillidis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if page.title != "Archive (sidebar)" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endif %}
    <link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen, projection" href="/res/screen.css" type="text/css">
    <link rel="stylesheet" media="print" href="/res/print.css" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="Anastasios Kyrillidis" href="/atom.xml">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/public/AK.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/AK.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/AK.png">
    {% if page.ios_app_name %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% endif %}
    <meta property="fb:admins" content="728642302">
    <meta property="fb:app_id" content="38027689216">
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
      {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta name="og:description" content="{{ page.description }}">
      {% else if content %}
      <meta name="description" content="{{ content | strip_html | truncatewords: 25 }}">
      <meta name="og:description" content="{{ content | strip_html | truncatewords: 25 }}">
      {% endif %}
    {% else %}
      <meta name="description" content="Anastasios Kyrillidis">
    {% endif %}
    {% if page.og_image_url %}
    <meta property="og:image" content="{{ page.og_image_url }}">
    {% else %}
    {% if page.photo_url %}
    <meta property="og:image" content="{{ page.photo_url }}">
    {% endif %}
    {% endif %}
    <meta property="og:url" content="http://akyrillidis.github.io/{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="akyrillidis.github.io">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_GB" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
    {% endif %}
    {% if page.title != "Archive (sidebar)" %}
    {% include sidebar_ui_controller.html %}
    {% endif %}
  </head>
  <body{% if page.wide_layout %} class="wide"{% endif %}>
    <!--script>/*
      var s;
      if (document.location.hostname === 'rsms.me') {
        s = document.createElement('script');
        s.async = true;
        s.src = "http://connect.facebook.net/en_US/all.js#appId=38027689216&xfbml=1";
        document.getElementsByTagName('head')[0].appendChild(s);
      }
      
      if (window.navigator.userAgent.indexOf('iPad') != -1) {
        document.documentElement.className = 'ios ipad';
        window.rsmsHostIsIOS = 'ipad';
      } else if (window.navigator.userAgent.indexOf('iPhone') != -1) {
        document.documentElement.className = 'ios iphone';
        window.rsmsHostIsIOS = 'iphone';
      }
    */</script>
    <div id="fb-root"></div><script></script-->
    <iframe id="sidebar"></iframe>
    <header>
      <h1 class="logo" onclick="document.location.href='/';"><a href="/"><img src="/public/signature_new.png" width="160" height="50" alt="Signature"></a></h1>
      <ul class="navigation">
        <li><a href="/pubs/"{% if page.url contains "/pubs/" %}class="active"{% endif %} title="Collection of publications">Publications</a></li>
        <li><a href="/projects/"{% if page.url contains "/projects/" %}class="active"{% endif %} title="Projects I used or am currently working">Software</a></li>
        <li><a href="/about/"{% if page.url contains "/about/" %}class="active"{% endif %}>About me</a></li>
      </ul>
    </header>
    <div style="text-align:center"><i><b>I will be starting as an assistant professor of CS at Rice University in Fall 2018. </b></i></div>
	<br>
	<div style="text-align:center"><i><b>For the academic year 2017-2018, I will be a Goldstine Fellow at IBM T. Watson Research Center. </b></i></div>
	<br>
	<!--div style="text-align:center"><i><b>Talks given so far: University of Minnesota, Colorado University (Boulder), Colorado School of Mines, University of Maryland, University of Wisconsin, Temple University, University of Geneva, University of Waterloo, Northwestern University, Purdue University, Max-Planck Institute (Berlin), Aalto University, University of Maryland, Ohio State University, Rice University, Carnegie Mellon University, University of Alberta</b></i></div-->
	<!--div style="text-align:center"><i><b>Talks in the near future: <font color="red">University of Massachusetts (Amherst), PennState University, Texas A&M University</font></b></i></div-->
	<br><br>
    <!--div class="wrapper content"-->
      {{ content }}
    <!--/div-->
    
    
    {% if page.fb_comments or page.comments %}
    <!--div class="content sub">
      <h2 id="comments">Comments</h2>
      <div class="fb-comments" data-href="http://rsms.me{{ page.url }}" data-num-posts="{{ page.fb_comments }}" data-width="550" data-font="arial"></div>
    </div-->
    {% endif %}
    
    {% if paginator.page %}
    <div id="paginator" class="content">
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/">Older entries</a>
      {% endif %}
      {% if paginator.previous_page %}
      <a href="/page{{ paginator.previous_page }}/">Newer entries</a>
      {% endif %}
    </div>
    {% endif %}
    
    {% include highlight.html %}
    {% include analytics.html %}
  </body>
</html>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ], 
      processEscapes: true
    }
  });
</script>

<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>